.table_loader {
  padding: 20px;
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1),
    0px 4px 6px -2px rgba(0, 0, 0, 0.05);
  margin: 10px auto;
  border: solid 1px whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.text {
  color: #353f50;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
}
.span {
  color: #5f738c;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}
