.title_header{
    height: 64px;
    padding: 16px 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 160% */
    margin-bottom: 1px;
    color: #353F50;
    border-bottom: solid 1px #E1E6ED;
}

.back_header{
    height: 64px;
    padding: 16px 20px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px; /* 160% */
    margin-bottom: 1px;
    color: #353F50;
    border-bottom: solid 1px #E1E6ED;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.back_header > div{
    display: flex;
    align-items: center;
    gap: 16px;
}