.full_search {
  padding: 32px 20px;
}
.h4 {
  color: #353f50;
  font-feature-settings: "liga" off, "clig" off;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  padding-bottom: 8px;
}

.search_holder {
  display: grid;
  grid-template-columns: 1fr auto;
}
.search_div {
  display: flex;
  height: 56px;
  align-items: center;
  padding: 16px 12px;
  gap: 8px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 4px;
  background-color: #f3f5f6;
  width: 100%;
}

.search_div_2 {
  display: flex;
  height: 56px;
  align-items: center;
  padding: 16px 12px;
  gap: 8px;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 4px;
  background-color: #f3f5f6;
  width: 100%;
  max-width: 300px;
}

.input {
  background-color: #f3f5f6;
  outline: none;
  border: none;
  width: 100%;
  color: #848f9f;
  font-size: 14px;
  line-height: 20px;
}
.btn {
  display: flex;
  width: 125px;
  height: 56px;
  justify-content: center;
  align-items: center;
  background-color: #ebf8fe;
  border-radius: 4px;
  border: solid 1px #307399;
  color: #307399;
  cursor: pointer;
  margin-left: 24px;
}
.btn_2 {
  margin-top: 28px;
  width: 125px;
  height: 56px;
  justify-content: center;
  align-items: center;
  background-color: #ebf8fe;
  border-radius: 4px;
  border: solid 1px #307399;
  color: #307399;
  cursor: pointer;
}
.search_container {
  padding: 32px 20px;
  display: grid;
  grid-template-columns: 230px 1fr 125px;
  gap: 20px;
}
.search_container_3 {
  padding: 32px 20px;
  display: grid;
  grid-template-columns: 230px 230px 230px 1fr 125px;
  gap: 20px;
}

.select {
  width: 200px;
  max-width: 210px;
  border: none;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  background-color: #f3f5f6;
}
