.nav {
  margin: 0;
  width: 250px;
  height: calc(100vh - 64px);
  max-height: 100vh;
  border-right: solid 1px #e1e6ed;
  padding: 16px;
  transition: width 0.3s ease;
}
.nav:hover {
  width: 280px;

  .li:hover {
    background-color: #ebf8fe;
  }
}
@media (min-width: 1025px) {
  .nav {
    width: 280px;
  }
}
@media (max-width: 1024px) {
  .nav {
    width: 200px;
  }
}
@media (max-width: 777px) {
  .nav {
    width: 170px;
  }
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.li {
  display: flex;
  padding: 8px 12px;
  text-decoration: none;
  color: #353f50;
  background-color: transparent;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 3px;
}

.li.active {
  color: var(--primary-blue);
  background-color: #ebf8fe;
  font-weight: bold;
  border: solid 1px var(--primary-blue);
}
